<nav>
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link"
         href="{{ url_for("post_list_view").include_query_params(page=paginator.previous) }}"
         aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for page in range(paginator.min, paginator.self) %}
      <li class="page-item">
        <a class="page-link"
           href="{{ url_for("post_list_view").include_query_params(page=page) }}">
          {{ page }}
        </a>
      </li>
    {% endfor %}
    <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">{{ paginator.self }}</a>
    </li>
    {% for page in range(paginator.self + 1, paginator.max + 1) %}
      <li class="page-item">
        <a class="page-link"
           href="{{ url_for("post_list_view").include_query_params(page=page) }}">
          {{ page }}
        </a>
      </li>
    {% endfor %}
    <li class="page-item">
      <a class="page-link"
         href="{{ url_for("post_list_view").include_query_params(page=paginator.next) }}"
         aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
